
html{
    background-color: #272727;
}

body{
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.allTheBoards{
    width: 800px;
    height: 400px;
    position: relative;
}

#timer {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
}



/* opmaak van de cirkel*/
.circle{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.options-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    width: 60rem;
    margin: 0 auto;
    height: 30rem;
}

/* klasse voor het stukje */

.piece{
    position: relative;
    width: 100px;
    height: 100px;
}



/* klasse voor bordje nummer1 */


.boardStyle{
    width: 200px;
    height: 200px;
    background-color: #d8d7d7;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.buttons {
    margin-bottom: 6rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


button {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #6cb8f7, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}



button:hover {
  background-position: -20px -20px;
}



/* klasse waneer stukje het bord bezet */

/*@media (max-width: 768px) {
    .boardStyle {
        width: 150px;
        height: 150px;
    }

    .circle{
        width: 25px;
        height: 25px;
    }
}*/