.tables {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.score {
    border: 5px solid var(--secondary);
    border-radius: 25px;
    margin: 0 auto;
    width: 75%;
    max-height: 40vh;
    overflow: scroll;
}

table, th, td {
    text-align: center;
}

table {
    padding: .5rem;
    width: 100%;
}

th {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--tertairy);
}

th, td {
    padding: .5rem;
    min-width: fit-content;
}