:root {
    --primary: #99D0FF;
    --secondary: #1156BC;
    --bg: #E3F3FF;
    --text: black;
}

/* Utility, Atoms, ... */

html {
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: var(--bg);
}

main {
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */

header {
    background-color: var(--secondary);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: auto;
    height: 4rem;
}

header p {
    display: none;
}

nav ul {
    display: none;
}

.hamburger {
    margin: 0 .5rem;
}

nav {
    margin: 0 2.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
}

/* MAIN */

.mobile-disapear {
    display: none;   
}

/* BREAKPOINTS */
@media (min-width: 768px) {
    .mobile-disapear {
        display: block;
    }
    
    header p {
        font-size: 2.25rem;
        color: var(--primary);
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex: 1;
        gap: 2.5rem;
    }

    nav li {
        list-style: none;
        font-size: 1.5rem;
    }

    nav a {
        text-decoration: none;
        color: var(--primary);
    }

    .hamburger {
        display: none;
    }
}

/* ANIMATIONS */