.test_piece {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
}

#game_board {
    width: 50%;
    height: 50vh;
    background-color: blue;
    margin: 0 auto;
}