:root {
    --primary: #99D0FF;
    --secondary: #1156BC;
    --tertairy: #A6A6A6;
    --bg: #E3F3FF;
    --text: black;
    --text-subtle: #777777;
}

/* Utility, Atoms, ... */

html {
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: var(--bg);
}

main {
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */

header {
    background-color: var(--secondary);
    min-height: 5rem;
    height: 7.5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: auto;
    height: 4rem;
}

header p {
    display: none;
}

nav ul {
    display: block;
}

.hamburger {
    margin: 0 .5rem;
    cursor: pointer;
}

nav {
    margin: 0 2.5rem;
}

.navbar {
    display: flex;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
}

.logo p {
    font-size: 2.25rem;
    color: var(--primary);
}

/* MAIN */

.mobile-disapear {
    display: none;   
}

.subtle {
    color: var(--text-subtle)
}

/* BREAKPOINTS */
@media (max-width:768px){
    
    main {
        margin-top: 10rem;
    }

    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navitem {
        margin: 16px 0;
    }
    .navmenu.active {
        left: 0;
    }
    nav a {
        text-decoration: none;
        color: var(--primary);
    }
}
@media (min-width: 768px) {
    .mobile-disapear {
        display: block;
    }
    

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex: 1;
        gap: 2.5rem;
    }

    nav li {
        list-style: none;
        font-size: 1.5rem;
    }

    nav a {
        text-decoration: none;
        color: var(--primary);
    }

    .hamburger {
        display: none;
    }
}
/*footer*/
footer{
    background-color: var(--secondary);
    min-height: 5rem;
    height: 7.5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-txt{
    color: var(--primary);
    display: flex;
    justify-content: center;
    
}
.footer-logo{
    width: 50px;
    display: flex;
}
.footer-logo p{
    color: var(--primary);
    align-items: center;
    display: flex;
}





/* ANIMATIONS */